*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
.~lock*
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

PARTE_SPERIMENTALE/data/detector/datasets/
PARTE_SPERIMENTALE/data/generator/generated_files/

PARTE_SPERIMENTALE/data/detector/derived/
PARTE_SPERIMENTALE/data/detector/csv_utils/
PARTE_SPERIMENTALE/data/generator/matrices/
PARTE_SPERIMENTALE/data/generator/csv/
PARTE_SPERIMENTALE/data/generator/random_flood_4formats/

project/data/detector/datasets/
project/data/detector/derived/
project/data/detector/csv_utils/
project/data/generator/generated_files/
project/data/generator/matrices/
project/data/generator/csv/

paper/pdf/frontespizio.tex
paper/pdf/main.tex
paper/pdf/reference.bib
presentazione.txt
